@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

a{
  color:  #1e8bff;
  text-decoration: none;
}


#comment_iframe{
 	width: 100%;
    max-height: 250px;
    margin-top: 5px;

}

.comment_section{
	padding: 0,5px,5px,5px;

}

#comment_form textarea {
     width: 90%;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
    height: 40px;
    border-color: #d3d3d3;

}

#comment_form input[type="submit"]
{
   background-color: #3db6c5;
   color: #fff;
   width :40px;
   border-radius: 5px;
   height: 40px;
   margin-top: 3px;
   position: absolute; 
   font-family: 'Bellota-BoldItalic', sans-serif;
   text-shadow: #73B6E2 0.5px 0.5px 0px;

}

.newsfeedPostOptions{
	padding: 5px;
	text-decoration: none;
	color: #3db6c5;
	border: none;

}