@font-face {
    font-family: 'Bellota-LightItalic';
    src: url("../fonts/Bellota-LightItalic.otf");
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url("../fonts/Bellota-BoldItalic.otf");
}
.event_font{
  font-family: 'Bellota-BoldItalic';
    background-color: coral;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    padding-left: 350;


}

.event_info img{
	padding-left: 10px;
    height: 300px;
    position: relative;
    border-radius: 100px;
    width: 300px;
    margin-right:5px;


}
.vk{
   
    color: black;
    padding-left: 380px;
    transform: translateY(-230px);
 
    }
.freshers{
     color: black;
    padding-left: 380px;
    transform: translateY(-230px);
}
.melange{
     color: black;
    padding-left: 380px;
    transform: translateY(-230px);
}
.vishwotsav{
     color: black;
    padding-left: 380px;
    transform: translateY(-230px);
}